openapi: 3.2.0
info:
  title: Authorize Revoke API
  x-ibm-name: authorize
  version: 1.0.4
  description: The IDP v1.0 is a system that allows authentication of a customer (e.g. Partners) and grants permission to the customer to access the bank resources such as Accounts and Transactions.
  x-ibm-summary: ''
servers:
- url: https://api.citizensbank.com/authorize/v1.0
security: []
tags:
- name: Revoke
paths:
  /revoke:
    parameters:
    - name: Authorization
      in: header
      required: true
      description: The token that client wants to revoke
      schema:
        type: string
    - name: x-client-id
      in: header
      required: true
      description: Identifies the desired financial institution or partners.
      schema:
        type: string
    post:
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: string
      tags:
      - Revoke
      summary: Create revoke
      x-summary-source: derived
      operationId: postRevoke
      x-operation-id-source: derived
components:
  securitySchemes:
    x-client-id:
      type: apiKey
      description: Identifies the desired financial institution or partners.
      name: x-client-id
      in: header
      x-key-type: client_id
x-ibm-configuration:
  enforced: true
  testable: true
  phase: realized
  cors:
    enabled: false
  type: rest
  application-authentication:
    certificate: false
  servers:
  - url: https://api.citizensbank.com/authorize/v1.0
    type:
    - production
    - development
