openapi: 3.2.0
info:
  title: Branch Locator Latitude API
  x-ibm-name: branch-locator
  version: 1.0.10
  description: The Citizens Bank Branch Locator API enables users to locate all Citizens Bank branches throughout the USA. Using Zip Code, Street Address or longitudinal and latitudinal data, users can find the location of the branch, the hours of operation and the whether the location is a standalone branch or part of another entity (e.g. Supermarket).
  x-ibm-summary: ''
servers:
- url: https://sandboxapi.citizensbank.com/v1/branch-locator
security:
- Partner Id: []
tags:
- name: Latitude
paths:
  /latitude/\{latitude}/longitude/{longitude}:
    parameters:
    - name: latitude
      in: path
      required: true
      description: input latitude value
      schema:
        type: string
    - name: longitude
      in: path
      required: true
      description: input longitude value
      schema:
        type: string
    get:
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: string
      tags:
      - Latitude
      summary: Get latitude \{latitude} longitude by longitude
      x-summary-source: derived
      operationId: getLatitude\{latitude}LongitudeByLongitude
      x-operation-id-source: derived
components:
  securitySchemes:
    Partner_Id:
      type: apiKey
      description: Used for differentiating the registered vendors/partners
      name: Partner-ID
      in: header
      x-key-type: client_id
x-ibm-configuration:
  enforced: true
  testable: true
  phase: realized
  cors:
    enabled: true
  type: rest
  application-authentication:
    certificate: false
  servers:
  - url: https://sandboxapi.citizensbank.com/v1/branch-locator
    type:
    - production
    - development
